/* estilo para o formulário */
form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* estilo para a tabela */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* estilo para tornar a página responsiva */
@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr {
    border: 1px solid #ccc;
  }
  
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-col {
    width: 40%;
    padding: 0px;
}

.right-col {
    width: 60%;
    padding: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 10px;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}
